@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  /* color: var(--foreground);
  background: var(--background); */
  font-family: Poppins, Arial, Helvetica, sans-serif;
}
.clip-left {
  clip-path: polygon(0 0, 100% 0, 70% 100%, 0% 100%);
}

.clip-right {
  clip-path: polygon(30% 0, 100% 0, 100% 100%, 0% 100%);
}

.shadow {
  text-shadow: "_0_2px_4px_rgb(99_102_241_/_0.8)";
}

/* .noise-bg:before {
  content: "";
  background-color: rgb(22 30 49);
  background-image: url("data:image/svg+xml,%3C!-- svg: first layer --%3E%3Csvg viewBox='0 0 400 400' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.8' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
  background-repeat: repeat;
  background-size: 182px;
  opacity: 0.12;
  /* top: 0; */
/* left: 0; */
/* position: absolute; */
/* width: 100%; */
/* height: 100%; */

/* } */

.noise-bg {
  position: relative;
  z-index: 0; /* Ensure content remains on top */
}

/* This is for gradients*/
.noise-bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;

  background: radial-gradient(
      at 0% 90.391631441492%,
      #0778ed 0px,
      transparent 30%
    ),
    radial-gradient(
        at 86.61665533794964% 34.0954233121438%,
        #f7b075 0px,
        transparent 30%
      )
      #131e31;
  filter: blur(80px);
}

/* This is for the noise texture */
.noise-bg::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;

  background: url("data:image/svg+xml,%3C!-- svg: first layer --%3E%3Csvg viewBox='0 0 400 400' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.8' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
  background-repeat: repeat;
  background-size: 182px;
  opacity: 0.15;
}

.main-heading {
  @apply font-semibold md:text-5xl text-4xl;
}

.sub-heading{
  @apply sm:text-2xl text-xl font-semibold;
}

.sub-text{
  @apply md:text-lg sm:text-base text-sm;
}
